<div class="container">
  <div class="row row-centered">
    <div class="col-xs-1 col-md-4"></div>
    <div class="col-xs-10 col-md-4 col-centered">
      <section id="add-title">
        
        <div id="createTitle" ng-hide="newList.added">
          <h2>{{newList.heading}}</h2>
          <div class="form-group">
            <input type="text" class="form-control" id="listTitle" placeholder="List name" ng-model="newList.text">
          </div>
          <button type="button" class="btn btn-default btn-primary" ng-click="createList(newList.text)">Add Title</button>
        </div>
        <div ng-show="newList.added">
          <div ng-show="!newList.showTitleForm">
            <h2>{{currentList.title}}</h2>
            <button type="button" class="btn btn-primary" ng-click="editTitle()">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>`
            </button>
          </div>
          
          <form class="form-inline" ng-show="newList.showTitleForm">       
            <div class="form-group">`
              <label for="title">Title</label>
              <input type="text" class="form-control input-lg" ng-model="currentList.title">
              <button type="button" class="btn btn-primary" ng-click="editTitle()">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
              </button>
            </div>
          </form>

          <p>Created on {{currentList.dateCreated}}</p>
        </div>

      </section>


      <section id="add-item" ng-show="newList.added">

        <form class="form-inline">       
          <div class="form-group">
            <label class="sr-only" for="item">Item</label>
            <input type="text" class="form-control" id="item" placeholder="Item" ng-model="item">
            <button type="button" class="btn btn-default" ng-click="addItemToList(item)">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>
        </form>

      </section>
     
    </div>
    <div class="col-xs-1 col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-xs-1 col-md-4 col-centered"></div>
    <div class="col-xs-10 col-md-4 col-centered">
      <ul class="list-group">
        <div class="list-group">
          <li class="list-group-item" ng-repeat="item in currentList.items">
            <button type="button" class="btn btn-default" ng-click="removeItem(item, list)">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
            <span class="badge">{{item.price}}</span>{{item.name}}
             <!-- <div class="form-group">
              <label class="sr-only" for="item">Item</label>
              <input type="text" class="form-control" id="price" placeholder="Price" ng-model="price">
            </div> -->
          </li>
        </div>
      </ul>
    </div>
    <div class="col-xs-1 col-md-4 col-centered"></div>
  </div>

  <div class="row">
    <div class="col-xs-1 col-md-4 col-centered"></div>
    <div class="col-xs-10 col-md-4 col-centered">
      <a href="#/home" ng-click="clearNewList()">Home</a> | <a href="#/savedlists" ng-click="clearNewList()">Saved Lists</a>
    </div>
    <div class="col-xs-1 col-md-4 col-centered"></div>
  </div>

  <div ng-include="'views/partials/logout.html'"></div>

</div>